/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
:root {
  --main-color: #000000;
  --light-color: #e3dcde;
  --text-color: #1c53ec95;
  --rating-color: #e73146;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;

  /* --background: url("./assets/bg.avif"); */
}

body {
  font-family: var(--font-family) !important;
  background: var(--light-color);
  /* background-size: cover;
  background-repeat: repeat;
  background-position: center; */
  /* position: relative; */
  height: 100vh !important;
}
.title {
  color: var(--text-color);
}
.output {
  font-size: larger;
  background-color: var(--light-color) !important;
}
.border {
  border: 1px solid var(--rating-color) !important;
}
.outTitle {
  color: var(--main-color);
}
